.container-listagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin: 1em auto;
    font-size: 48px;
    color: #504908;
}

@media screen and (max-width: 650px) {
    .titulo {
        font-size: 26px;
    }
}

@media screen and (min-width: 651px) and (max-width: 850px) {
    .titulo {
        font-size: 32px;
    }
}