.card_container {
    display: flex;
    height: 15em;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding-right: 20px;
    margin-bottom: 20px;
    width: 960px;
}

.container-text {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-evenly;
}

.img_card {
    width: 250px;
    background-position: center;
    margin-right: 15px;
    width: 30%;
}

.titulo-card {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.titulo-card h3 {
    font-size: 20px;
}

.like {
    cursor: pointer;
    color: inherit;
    margin-left: 15px;  
}

p {
    margin: 5px 0px;
}

.autor {
    font-weight: 700;
    color: #0d1a26;
    text-align: right;
}

.infosAdicionais {
    font-weight: 400;
    color: #5C6670;
}

.starActive {
    color: #950495;
}

.starDisable {
    color: #EFF0F0;
}

.etiqueta {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #EFF0F0;
    color: #0D1A26;
    border-radius: 32px;
    font-weight: 600;
    font-size: 12px;
    gap: 10px;
    width: 70px;
    height: 24px;
    margin-bottom: 5px;
}

@media screen and (max-width: 576px) {
    .card_container {
        width: 360px;
        padding: 0px;
        margin-bottom: 10px;
        justify-content: flex-start;
    }
    .container-text {
        width: 55%;
    }
    .img_card {
        width: 45%;
        width: 135px;
        object-fit: cover;
        object-position: bottom right;
    }
    .titulo-card h3 {
        font-size: 15px;
    }
    .autor {
        font-size: 14px;
    }
}

@media screen and (min-width: 577px) and (max-width: 650px) {
    .card_container {
        width: 450px;
    }
    .container-text {
        width: 65%;
    }
    .img_card {
        width: 35%;
        width: 200px;
    }
    .titulo-card h3 {
        font-size: 18px;
    }
}

@media screen and (min-width: 651px) and (max-width: 850px) {
    .card_container {
        width: 650px;
    }
}
@media screen and (min-width: 851px) and (max-width: 1080px) {
    .card_container {
        width: 800px;
    }
}