.tela-cadastro {
    background-image: linear-gradient(rgba(216, 227, 210, 0.95), rgba(216, 227, 210, 0.95)), url("https://s3-alpha-sig.figma.com/img/d499/89ee/a6d23a7a9ffd6d136e430c855a72ebc0?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lCBgR7Pyqff8u8MSpH-UVgBRmgzDWPO89CvVWTUVK36oAJSDic0TFiF7MpDBbeQEgmTwR96kWtNSzFP2yEVfxEr6cKkR~I5g4vQ02vhX7lLrG0RYgiPsa8Nkv~1VCpK~C42quIejs4dZC7uZvGgPOe7y6A-SxuRsampbxZyfspUw3R372dO~GnpLnEfWoi44zMHxu~12qRqD3DiMCduubXZLxlpG1hDEsVuQc6F4TRB-XyV-vnlMj2iVsFx8-MIvocK2xE-jti4n~7r75dMhHLTVPy22FDNxcEiMZtxbJrQNXKIyagTyxYipldkopUnaY6~MGItO-Bdyipg~NBzatw__");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
}

.titulo-cadastro {
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #000000;
    padding: 45px 0px;
}

@media screen and (max-width: 576px) {
    .titulo-cadastro {
        font-size: 26px;
    }
}