.tela-cadastro {
    background-image: linear-gradient(rgba(216, 227, 210, 0.95), rgba(216, 227, 210, 0.95)), url("/src/assets/images/img-cadastro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
}

.titulo-cadastro {
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #000000;
    padding: 45px 0px;
}

@media screen and (max-width: 576px) {
    .titulo-cadastro {
        font-size: 26px;
    }
}