@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.background-header{
    background-color: #504908;
}

.header {
    font-family: 'Comfortaa', sans-serif;
    color: #FFFFFF;
    height: 80px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    font-size: 16px;
}

.nav-menu {
    text-align: right;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.link-menu {
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .link-menu {
        font-size: 14px;
        white-space: wrap;
    }
}